<head>
  <link rel="stylesheet" href="/css/create_survey.css">
  <script src="/js/create_survey.js"></script>
</head>

<div class="container">
  <h3 id="create_survey"> Write your questions below! </h3>

  <p id="edit_questions">
    <form>
    <label for="question">Question </label>
    <input type="text" name="question" id="question">
    <span class="remove_question" id="remove_question"><input type='submit' value="Remove Question"></span><br><br>
    <span class="add_question"><input type="submit" id="add_question" value="Add Question"></span><br><br><br>
    <form>
    <input type="submit" id="finish_survey" value="Finish Survey">

  </p>

</div>
