<head>
  <script src="/js/create_survey.js"></script>
</head>

<div class='container'>
  <h3> Write your questions below! </h3>
  <form method="post">
  <p>
  <label for="question">Question</label>
  <input type="text" name="question" id="question">
  <span class="remove_question"><input type='submit' id="remove_question" value="Remove Question"></span>
  </p>
  
  <p> 
  <input type='submit' id="add_question" value='Add Question'>
  <input type='submit' id='finish_survey' value='Finish Survey'>
  </p> 
  </form>
</div>
