<head>
  <title>Flot Bar Chart</title>
  <script type="text/javascript" language="javascript" src="/js/survey_results.js"></script>
  <script type="text/javascript" language="javascript" src="/js/jquery.flot.js"></script>
   
</head>
 
<body class="graph_body">
    <div id="placeholder" style="width:600px;height:300px"></div>
</body>
</html>
