<div class="container">
  <h1>Welcome, <%= current_user.name %></h1>

  <div class="left_column">
    <div class="surveys_created">
      
      <h2>Surveys Created</h2>
     <% current_user.created_surveys.each do |survey| %>
      <ul>
        <li><a href="/survey_results/<%= survey.id %>"> <%= survey.title %></a></li>
      </ul>

      <% end %>
    </div>
    <br>
    <div class="surveys_taken">
      <h2>Surveys Taken</h2>
      <% current_user.surveys.each do |survey| %>
      <ul>
        <li><%= survey.title %></li>
      </ul>
      <% end %>
    </div>
  </div>


  <div class="right_column">
    <div class="create_survey">
      <a href="/create_survey" class="button">Create a Survey<a/>
<!--       <input type="submit" id="create_survey" value="Create a Survey">
 -->    
    </div>
    <div class="view_all_surveys">
      <a href="/view_all_surveys" class="button">View All Surveys<a/>
    </div>
  </div>

</div>
