<div class="container">
  <h1>Welcome, User</h1>

  <div class="left_column">
    <div class="surveys_created">
      
      <h2>Surveys Created</h2>
      <ul>
        <li></li>
      </ul>
    </div>
    <br>
    <div class="surveys_taken">
      <h2>Surveys Taken</h2>
      <ul>
        <li></li>
      </ul>
      
    </div>
  </div>


  <div class="right_column">
    <div class="create_survey">
      <input type="submit" id="create_survey" value="Create a Survey">
    </div>
    <div class="view_all_surveys">
      <input type="submit" id="view_all_surveys" value="View All Surveys">
    </div>
  </div>

</div>
